* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

body,
html {
    height: 100vh;
}

body {
    background-image: url(../img/armory.jpg);
    margin: 0px !important;
}

/* .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
  } */

h2 {
    font-size: 18px;
    font-weight: bold;
}

.box-shadow {
    -webkit-box-shadow: -1px 7px 23px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 7px 23px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 7px 23px -10px rgba(0, 0, 0, 0.75);
}

.main-container-grid {
    display: grid;
    height: 100%;
    background-color: #DADED4;

}

.white > p {
    color: white;
}
.logo {
    color:white;
    text-align: -webkit-center;
    font-size: xxx-large;
}
.r1,
.r3 {
    display: grid;
    background-color: #040406a8;
    padding: 1em;
    align-items: center;
    color: white;
}

.r3 {
    text-align: center;
}

.r2 {
    height: 100%;
    /* background-color: #f1f1f1; */
}

.one-column {
    display: grid;
    /* background-color: #DADED4; */
    grid-column-gap: 1em;
}

.txt-center {
    text-align: center;
    margin: 15px auto 0px;
    border-bottom: 1px solid #39603D;
    padding-bottom: 15px;
}

.c2 {
    padding: 2em;
}

.h2-content {
    grid-column: 1 / 5;
    height: 22px;
    width: 100%;
}

.contact-form {
    width: 500px;
    height: 500px;
    margin: 100px auto;
    margin-top: 300px;
}

.contact-input {
    width: 91%;
    padding: 15px;
    margin: 5px;
    background-color: black;
    color: white;
}

.submit-button {
    padding: 10px 25px;
    background-color: #CCC;
    float: right;
    margin-top: 12px;
    margin-right: 5px;
}

.error-message {
    color: red;
    display: block;
    padding: 7px;
    margin-top: 5px;
    display: none;
}



.login-form {
    padding: 25px;
    background-color: #FFF;
}